.post-request-panel .recent{
    margin-top: 130px;
    margin-bottom: 3rem;
}

.post-request-panel .activity-grid{
    display: grid;
}

.post-request-panel .activity-card{
    background: #fff;
    border-radius: 7px;
}

.post-request-panel h3{
    margin: 1rem;
}

.post-request-panel table{
    width: 100%;
    border-collapse: collapse;
}

.post-request-panel thead{
    background: #efefef;
    text-align: left;
}

.post-request-panel th,
.post-request-panel td{
    font-size: 0.9rem;
    padding: 1rem 1rem;
    font-weight: 200;
}

.post-request-panel td{
    font-size: 0.85rem;
}

.post-request-panel tbody tr:nth-child(even){
    background: #f9fafc;
}

.post-request-panel .approve{
    color: green;
}

.post-request-panel .not-approve{
    color: red;
}

.post-request-panel button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 10%;
}

.post-request-panel .approve-btn{
    background: green;
}

.post-request-panel .approve-btn:hover{
    background: white;
    color: green;
    border: 0.5px green solid;
    transition: 0.3s ease-in-out;
}

.post-request-panel .discard-btn{
    background: red;
}

.post-request-panel .discard-btn:hover{
    background: white;
    color: red;
    border: 0.5px red solid;
    transition: 0.3s ease-in-out;
}

.post-request-panel .publish-btn{
    background: rgb(18, 18, 199);
}

.post-request-panel .publish-btn:hover{
    background: white;
    color: rgb(18, 18, 199);
    border: 0.5px rgb(18, 18, 199) solid;
    transition: 0.3s ease-in-out;
}

.post-request-panel .download-cv-btn{
    background: rgb(73, 73, 212);
}

.post-request-panel .download-cv-btn:hover{
    background: white;
    color: rgb(73, 73, 212);
    border: 0.5px rgb(73, 73, 212) solid;
    transition: 0.3s ease-in-out;
}

.post-request-panel .notify-btn{
    background: rgb(73, 73, 212);
}

.post-request-panel .notify-btn:hover{
    background: white;
    color: rgb(73, 73, 212);
    border: 0.5px rgb(73, 73, 212) solid;
    transition: 0.3s ease-in-out;
}